*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--white: #fff;
	--black: #000000;

	--blue: #1a5fa8;
	--blue-transparent: rgb(from var(--blue) r g b / 0.15);
	--purple: #6b3a9e;
	--purple-transparent: rgb(from var(--purple) r g b / 0.15);
	--red: #a8192e;
	--red-transparent: rgb(from var(--red) r g b / 0.15);
	--orange: #b84a0e;
	--orange-transparent: rgb(from var(--orange) r g b / 0.15);

	--color-get: var(--blue);
	--color-post: var(--purple);
	--color-put: var(--orange);
	--color-delete: var(--red);
}

body {
	margin: 0;
	font-family: "General Sans", sans-serif;
	padding: 40px;

	color: var(--black);
	line-height: 1.5;
	font-size: 1rem;
}

main {
	max-width: 1500px;
	margin: 0 auto;
	padding-top: 100px;

	display: flex;
	flex-direction: column;
	gap: 24px;
}

code:has(pre) {
	font-family: "JetBrainsMono Nerd", monospace;
	font-size: 0.85rem;
	padding: 20px 40px;
	border: solid 1px rgb(from var(--black) r g b / 0.3);
	border-radius: 12px;
	display: block;
	width: 100%;
	background: rgb(from var(--black) r g b / 0.01);
}

pre {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	gap: 12px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button {
	font-family: "General Sans", sans-serif;
	font-size: 1rem;

	border: 1px solid var(--black);
	border-radius: 6px;
	padding: 2px 10px;
	background: transparent;
	transition: all 0.3s ease;
	cursor: pointer;
}

button:hover,
button:focus {
	background: rgb(from var(--black) r g b / 0.05);
}

input {
	font-size: 1rem;
	padding: 2px 10px;
	font-family: "General Sans", sans-serif;
	border: 1px solid var(--black);
}

.visually-hidden {
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 20px 100px;

	backdrop-filter: blur(10px);
	z-index: 10;

	h1 {
		margin: 0;
		font-size: 1.75rem;
	}
}

.alert {
	display: block;
	padding: 6px 12px;
	border-radius: 6px;
	border: 2px solid var(--black);
	background: rgb(from var(--black) r g b / 0.15);
}
.alert--danger {
	color: var(--red);
	border-color: var(--red);
	background: rgb(from var(--red) r g b / 0.1);
}

.tag {
	font-size: 0.825rem;
	padding: 3px 10px;
	border: 1px solid rgb(from var(--black) r g b / 0.75);
	color: rgb(from var(--black) r g b / 0.75);
	border-radius: 20px;
	display: flex;
	gap: 6px;
	align-items: center;
}

.category {
	border-radius: 6px;
	padding: 20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	.category__title {
		text-transform: capitalize;
		padding-bottom: 6px;
	}
}

.auth {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 6px;

	.auth__title {
		width: 100%;
		text-align: right;
		text-transform: uppercase;
		font-size: 1rem;
		letter-spacing: 0.25px;
	}

	.auth__form {
		display: flex;
		align-items: center;
		gap: 12px;
		position: relative;
	}

	.auth__error {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		translate: 0 calc(100% + 6px);

		&:empty {
			display: none;
		}
	}
}

.endpoint {
	border: 1px solid var(--black);

	&:first-of-type {
		border-radius: 6px 6px 0 0;
	}

	&:last-child {
		border-radius: 0 0 6px 6px;
	}

	&:not(:last-child) {
		border-bottom: 0;
	}

	&.endpoint--GET {
		.endpoint__header {
			background: var(--blue-transparent);
		}
	}

	&.endpoint--POST {
		.endpoint__header {
			background: var(--purple-transparent);
		}
	}

	&.endpoint--PUT {
		.endpoint__header {
			background: var(--orange-transparent);
		}
	}

	&.endpoint--DELETE {
		.endpoint__header {
			background: var(--red-transparent);
		}
	}

	&[open] .endpoint__header::before {
		rotate: 90deg;
	}

	.endpoint__header {
		display: flex;
		align-items: center;
		gap: 12px;
		padding: 10px;
		background: rgb(from var(--black) r g b / 0.15);
		cursor: pointer;

		&::before {
			content: "▶";
			display: inline-block;
			transition: rotate 0.3s ease;
		}

		h3 {
			font-size: 1rem;
			text-transform: capitalize;
		}
	}

	.endpoint__content {
		padding: 10px;
		display: flex;
		gap: 20px;
	}

	.endpoint__content > * {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 12px;
		align-items: flex-start;
	}

	.endpoint__uri-parameters-container {
		width: 100%;
	}

	.endpoint__query-parameters-container {
		display: flex;
		flex-wrap: wrap;
		gap: 6px;
		align-items: flex-end;

		h4 {
			width: 100%;
			display: block;
		}
	}

	.endpoint__body-value {
		width: 100%;
	}

	.endpoint__schemas {
		border-left: 1px solid rgb(from var(--black) r g b / 0.5);
		padding-left: 20px;

		& > * {
			width: 100%;
		}
	}

	.endpoint__body {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}

.response {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;

	.response__title {
		display: flex;
		gap: 6px;
		align-items: center;
	}
}

.form-control {
	display: flex;
	flex-direction: column;
	gap: 6px;

	.form-control__label {
		display: flex;
		align-items: center;
		gap: 6px;
		text-transform: capitalize;
	}

	textarea {
		height: 100px;
	}

	.form-control__input {
		font-family: "General Sans", sans-serif;
		font-size: 1rem;
		border: 1px solid rgb(from var(--black) r g b / 0.75);
		border-radius: 2px;
		padding: 4px 10px;
		width: 100%;
		background: var(--white);
	}
}
